.header {
  max-height: 35vh;
  overflow: hidden;
  img {
    transform: translateY(-5%);
  }
}
.section {
  padding: 5rem 10rem;
  border-bottom: 6px solid whitesmoke;
  h3 {
    font-size: 2rem;
    font-weight: 600;
  }
}
.projectsContainer {
  display: flex;
  flex-direction: column;
}
.h1 {
  font-size: 4rem;
  color: dodgerblue;
  font-weight: 600;
}
.h2 {
  font-size: 1.8rem;
  font-weight: 600;
}
.p {
  font-size: 1.1rem;
}
.skills {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  flex-wrap: wrap;
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    font-size: 3.5rem;
  }
}
.resumeLink {
  font-size: 1.8rem;
  color: grey;
  transition: color 300ms;
  &:hover {
    color: dodgerblue;
  }
}
.educationContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.big {
  width: 100%;
}
.small {
  width: 75%;
}

@media (max-width: 850px) {
  .section {
    padding: 3rem 6rem;
  }
}
@media (max-width: 600px) {
  .section {
    padding: 3rem 3.5rem;
  }
}
